[submodule "Application/vendor/eigen"]
	path = Application/vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Application/vendor/libigl"]
	path = Application/vendor/libigl
	url = https://github.com/libigl/libigl.git
[submodule "Application/vendor/glad"]
	path = Application/vendor/glad
	url = https://github.com/Kshiro-AM/glad.git
[submodule "Application/vendor/glfw"]
	path = Application/vendor/glfw
	url = https://github.com/Kshiro-AM/glfw.git
